@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --text-primary: #ffffff;
  --text-secondary: #cf2526;
  --text-link: #ffffff80;
  --text-invert: #1b1b1b;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 10px;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: auto;
  width: 100%;
  height: 100vh;
}
#scroll-container {
  width: auto;
  height: 100vh;
  margin: 0;
}
h1,
h2 {
  font-weight: 800;
}
h3 {
  font-weight: 700;
}
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

a {
  transition: 0.2s ease;
}
a:hover {
  text-decoration: none;
  color: unset;
}
p {
  font-size: 16px;
}
.title-primary {
  font-size: clamp(30px, 6vw, 64px);
  font-weight: 300;
}
.title-secondary {
  color: #cf2526;
  font-size: 14px;
  font-weight: bold;
}
.title-primary a.link_underline {
  position: relative;
  color: white;
}
.title-primary a.link_underline:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  height: 1px;
  width: 100%;
}
.title-primary a.link_underline:hover {
  color: var(--text-secondary);
}
.title-primary a.link_underline:hover:after {
  background: #cf2526;
}
.mt-card {
  border-bottom: 1px solid rgba(255, 255, 255, 0.525);
  padding-bottom: 25px;
}

.tt-magic-cursor #magic-cursor {
  display: block;
}

#ball {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border-style: solid;
  /*border-color: #FFF;*/
  border-radius: 50%;
  /* Note: border width handled through JS */
  z-index: 10000;
}

/* ------------------------------------------------------------- *
 * Magic Cusror
/* ------------------------------------------------------------- */

/* Ball view 
============= */
#ball .ball-view {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  padding: 0 5px;
  font-size: 10px;
  font-weight: bold;
  color: var(--text-secondary);
  line-height: 1.3;
  text-align: center;
  transform: scale(0);
  color: white;
}

#ball .ball-view i {
  font-size: 19px;
}

/* Ball drag 
============= */
#ball .ball-drag {
  position: absolute;
  display: block;
  width: 100%;
  padding: 0 5px;
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  transition: all 0.3s;
}
#ball .ball-drag::before,
#ball .ball-drag::after {
  position: absolute;
  top: 50%;
  margin-top: -5px;
  font-size: 19px;
  color: #ffffffb1;

  height: 10px;
  line-height: 10px;

  /* Font Awesome */
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
#ball .ball-drag::before {
  content: "\f104"; /* Font Awesome */
  left: 0;
  transform: translate3d(-30px, 0, 0);
  transition: all 0.25s;
}
#ball .ball-drag::after {
  content: "\f105"; /* Font Awesome */
  right: 0;
  transform: translate3d(30px, 0, 0);
  transition: all 0.25s;
}

/* Ball close 
============== */
#ball.ball-close-enabled {
  opacity: 1 !important;
}
#ball .ball-close {
  position: absolute;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
  text-align: center;
}

/* ------------------------------------------------------------- *
 * Content wrap
/* ------------------------------------------------------------- */

#content-wrap {
  position: relative;
  overflow: hidden;
}
/* Transition overlay */

#page-transition {
  display: none;
}
body.tt-transition #page-transition {
  position: relative;
  display: block;
  z-index: 99999;
}

/* Transition overlay */
body.tt-transition .ptr-overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  z-index: 1;
}

/* Transition preloader */
body.tt-transition .ptr-preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

body.tt-transition .ptr-prel-content {
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: #af1212;
}

.ptr-prel-image {
  max-height: 96px; /* You may need to change the img height to match your logo type! */
  opacity: 0.2; /* You may need to change the opacity as well! */
}

.btn-main {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  background: transparent;
  color: white;
  border: 1px solid #f45d2c;
  border-radius: 50px;
  padding: 10px 20px;
  transition: 0.2s ease;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 600;
}
.btn-main:hover {
  background: #f45d2c;
  color: white;
  border-color: #f45d2c;
}
.btn-main.invert {
  background: #f45d2c;
  color: white;
  border-color: #f45d2c;
}
.btn-with-arrow {
  position: relative;
  overflow: hidden;
}
.text-btn {
  position: relative;
  z-index: 2;
  margin-right: 20px;
}
.text-btn span {
  display: block;
  position: relative;
  transition: transform 0.3s cubic-bezier(0.12, 0.77, 0.16, 0.93),
    opacity 0.3s cubic-bezier(0.12, 0.77, 0.16, 0.93);
}
.text-btn span:last-child {
  color: #000000;
}
.text-btn span:last-child {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(200%);
  opacity: 0;
}
.btn-with-arrow {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
  padding: 10px 35px;
}

.btn-with-arrow:hover .text-btn span:first-child {
  transform: translateY(-200%);
  opacity: 0;
}
.btn-with-arrow:hover .text-btn span:last-child {
  transform: translateY(-50%);
  opacity: 1;
}
.btn-with-arrow .arrow-btn {
  width: 16px;
  height: 16px;
  display: flex;
  flex-direction: column;
  color: inherit;
  overflow: hidden;
}

.btn-with-arrow .arrow-btn img {
  display: flex;
  color: inherit;
  overflow: visible;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
}
.btn-with-arrow .arrow-btn img:first-child {
  transition: transform 0.3s, opacity 0.3s;
}
.btn-with-arrow .arrow-btn img:last-child {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  transform: translate(-100%, 0);
}
.btn-with-arrow:hover .arrow-btn img:first-child {
  opacity: 0;
  transform: translate(100%, -100%);
  transition: transform 0.3s, opacity 0.3s;
}
.btn-with-arrow:hover .arrow-btn img:last-child {
  transition: transform 0.3s, opacity 0.3s;
}
.btn-with-arrow:hover .arrow-btn img:last-child {
  opacity: 1;
  transform: translate(0, -90%);
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
}

.arrow-round {
  border: none;
  display: inline-flex;
  gap: 10px;
  padding: 0;
}
.arrow-round:hover {
  background: transparent;
  color: inherit;
}
.arrow-round .arrow-btn {
  width: 12px;
  height: 12px;
  overflow: hidden;
}
.arrow-round .arrow-btn img {
  width: 100%;
  height: 100%;
}
.arrow-btn-wrapper {
  width: 40px;
  height: 40px;
  border: 1px solid #f55d2d;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow-round:hover .arrow-btn-wrapper {
  background: #f55d2d;
}
/**********Custom Cursor**********/

.cursorNew {
  position: fixed;
  background-color: #cf2526;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursorNew.active {
  opacity: 1;
  transform: scale(0);
}
.cursorNew.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursorNew.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 2px solid rgba(255, 255, 255, 0.651);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}
/**********Header Navbar**********/

.navbar {
  transition: 0.2s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: auto;
  cursor: auto;
  padding: 15px;
}
.logo-light {
}
.logo-dark {
  display: none;
}
.navbar.sticky .logo-dark {
  display: block;
}
.navbar.sticky .logo-light {
  display: none;
}
.navbar.sticky {
  border-bottom: 1px solid #80808040;
  background: white;
}

.navbar a.nav-link {
  color: white;
}
.navbar.sticky a.nav-link {
  color: black;
}
.navbar.sticky a.nav-link:hover {
  color: inherit;
}
.navbar.sticky .btn-main {
  background: #f45d2c;
  color: white;
}
.header-logo-wrapper {
  display: block;
  height: 20px;
}
.header-logo-wrapper img {
  height: 100%;
}
.header nav.header-menu ul li {
  display: inline-block;
}
div#navbarNav {
  justify-content: center;
}
.header-right {
  position: relative;
}
nav.header-menu li {
  margin: 0 20px;
}
nav.header-menu li a {
  color: #ffffff;
  font-size: 18px;
}
.navbar-dark .navbar-toggler {
  border: none;
  outline: none;
}
.navbar-nav .nav-link {
  margin: 0 12px;
}
.navbar-nav li.nav-item.active .nav-link {
  color: #ff0000;
  font-weight: bold;
}
@media (max-width: 992px) {
  .navbar .header-right {
    display: none;
  }
  .navbar-collapse {
    background: black;
    padding: 20px 0;
  }
  .navbar {
    position: unset;
    background: black;
  }
}

/**********Modal**********/

.modal-content {
  background-color: transparent;
  height: 80%;
}
.modal-dialog {
  max-width: 1500px;
  margin: 1.75rem auto;
  padding: 0 1.5rem;
}
.modal.show .modal-dialog {
  height: 100%;
  margin: 0 auto;
}

.modal-body {
  padding: 0;
}
.modal-backdrop.show {
  opacity: .9;
}
button.close {
  position: absolute;
  right: -40px;
  top: -30px;
  font-size: 50px;
  color: white;
  z-index: 2;
  opacity: 1;
  font-weight: 100;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  outline: none;
}
button.close:hover {
  background: #F55D2D;
  opacity: 1;
}
button.close span {
  display: block;
  height: 100%;
}
button.close:hover {
  color: white;
}
/**********Custom Cursor**********/

.cursorNew {
  position: fixed;
  background-color: #cf2526;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: scale(1);
}
.cursorNew.active {
  opacity: 1;
  transform: scale(0);
}
.cursorNew.menu-active {
  opacity: 1;
  transform: scale(0);
}
.cursorNew.hovered {
  opacity: 1;
}

.cursor-follower {
  position: fixed;
  border: 2px solid rgba(255, 255, 255, 0.651);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  z-index: 1;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity,
    0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) background;
  user-select: none;
  pointer-events: none;
  z-index: 10000;
  transform: translate(2px, 2px);
}
.cursor-follower.active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.menu-active {
  opacity: 1;
  transform: scale(3);
}
.cursor-follower.hovered {
  opacity: 1;
}

.img_reveal_wrapper {
  overflow: hidden;
  background: grey;
}
.img_reveal_wrapper img {
  width: 100%;
}
/**********Hero**********/

.hero {
  min-height: 90vh;
  background: url("../img/wave-3.jpg");
  position: sticky;
  top: 0;
  padding: 150px 0 50px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 100px;
}
@media(max-width:768px){
  .hero{
    position: unset;
  }
}
.hero-row {
  align-items: flex-end;
}
.hero .hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}
.hero h1 {
  color: #ffffff;
  font-size: clamp(32px, 6vw, 100px);
  margin: 0 0 15px;
  font-weight: bold;
  letter-spacing: -6.3px;
}
.hero.inner h1 {
  font-size: clamp(30px, 8vw, 66px);
  line-height: 109%;
}
.hero-bottom-title {
  margin-top: 5px;
  text-transform: uppercase;
  color: white;
}
.show-reel {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.mt-play-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  position: relative;
  border: 1px solid white;
  transition: 0.2s ease;
}

.show-reel:hover .mt-play-icon {
  background: white;
  transform: scale(1.2);
}

.show-reel {
  margin-bottom: 30px;
}
.mt-h-1 {
  display: flex;
  justify-content: space-between;
  color: white;
  flex-direction: column;
  width: fit-content;
}
.mt-hero-div p {
  display: inline-block;
}
.mt-h-inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.mt-h-1 h3 {
  font-weight: bold;
  font-size: 36px;
}
.mt-hero-div {
  text-align: left;
  color: white;
}
.btn-wrapper.hero-btn a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  text-transform: uppercase;
  width: 180px;
  height: 180px;
  background: #f45d2c;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  color: white;
}
.btn-wrapper.hero-btn img {
  display: block;
  margin-bottom: 8px;
}

.bottom-sections {
  position: relative;
  z-index: 2;
  background: white;
}
/**********Hero End**********/
.clients {
  padding: 35px 0;
  border-bottom: 1px solid #b1b1b1;
}
.client_logo img {
  width: 100%;
}

.services {
  padding: 100px 0;
}
.services-img-wrapper img {
  width: 100%;
  display: none;
}
.service-accordion .card-header {
  background: transparent;
  border: none;
  padding: 0;
}
.service-accordion .card-header h5 {
  display: flex;
  align-items: center;
}
.service-accordion .card-header span {
  color: #7d8387;
  font-size: 27px;
  font-weight: 700;
  margin-right: 30px;
}
.service-accordion .card-header .btn-link {
  position: relative;
  display: inline-block;
  padding: 0;
  font-size: clamp(18px, 3.61111vw, 50px);
  color: #000000;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -4.14px;
}
.service-accordion .card-header .btn-link:hover,
.service-accordion .card-header .btn-link:not(.collapsed) {
  color: #ff0000;
}
.service-accordion .card {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 20px;
  padding-top: 10px;
}
.service-accordion .card-body {
  padding: 0;
  margin-left: 78px;
  margin-top: 15px;
}
.service-accordion .card-body a {
  color: red;
  font-weight: bold;
  margin-top: 20px;
  font-size: 16px;
}

.industries {
  background: #181818;
  padding: 100px 0 100px;
  border-radius: 24px;
}

.industries-header {
  color: white;
  margin-bottom: 50px;
}
.industries-header h2 {
  font-size: clamp(30px, 6vw, 80px);
  text-transform: uppercase;
}
.industries-header .row {
  gap: 50px;
  align-items: center;
  border-bottom: 1px solid #373737;
  padding-bottom: 30px;
  justify-content: space-between;
}
.ind-card-header {
  display: block;
  height: 175px;
  overflow: hidden;
  position: relative;
}
.ind-card-header h3 {
  font-size: 26px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 15px;
  transition: color 0.3s;
}

.industries-card {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  background: white;
}
.ind-card-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1);
}
.industries-card:hover .ind-card-header img {
  transform: scale(1.2);
}
.industries-card:hover h3 {
  color: #f45d2c;
}
.ind-card-body {
  padding: 25px 20px;
}
.industries-card p {
  font-size: 14px;
}
.ind-card-body a {
  color: black;
  margin-top: 20px;
}

.whyChooseUs {
  padding: 100px 0;
}
.whyChooseUs .row {
  align-items: center;
}
.wcu-left h2 {
  font-size: clamp(30px, 6vw, 75px);
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: -5.46px;
}
.wcu-card {
  padding: 15px 0;
  border-top: 1px solid #f55d2d;
  position: relative;
}
.wcu-card p {
  font-size: 14px;
}
.wcu-card h3 {
  font-size: clamp(30px, 6vw, 60px);
  font-weight: 800;
}
a.wcu-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: 600;
  margin-bottom: 40px;
}
.wcu-card-arrows {
  overflow: hidden;
  width: 30px;
  height: 30px;
  position: relative;
}
.wcu-card-arrows img {
  transition: 0.3s ease;
}
.wcu-card-arrows img:first-child {
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
  opacity: 1;
  transform: translate(0, 0);
}
.wcu-card-arrows img:last-child {
  opacity: 0;
  transform: translate(0, -100%);
  transition: transform 0.3s, opacity 0.3s;
}
a.wcu-card-header:hover .wcu-card-arrows img:first-child {
  opacity: 0;
  transform: translate(100%, -100%);
  transition: transform 0.3s, opacity 0.3s;
}
a.wcu-card-header:hover .wcu-card-arrows img:last-child {
  opacity: 1;
  transform: translate(0, -100%);
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
}
.our-team {
  padding-bottom: 100px;
  overflow: hidden;
}
.our-team-scroll-text {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  animation-duration: 15s;
  animation-name: scrollText;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.scroll-text {
  display: flex;
  align-items: center;
}
.scroll-text img {
  display: block;
  margin: 0 40px;
}
.our-team-scroll-text span {
  font-size: clamp(50px, 12vw, 200px);
  color: #cbcbcb;
  font-weight: bold;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}
.our-team-header {
  margin-bottom: 50px;
  margin-top: 30px;
}
.team-card picture {
  display: block;
  border-radius: 10px;
  overflow: hidden;
}
.our-team-header .row {
  align-items: center;
}
p.ot-left {
  font-family: "IBM Plex Mono", monospace;
  position: relative;
  color: #e32227;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
p.ot-left:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50px;
  margin-bottom: 5px;
  background: #e32227;
}
p.ot-right {
  font-size: 18px;
}
.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s ease;
  filter: grayscale(1);
}
.team-card-body {
  margin-top: 10px;
}
.team-card h3 {
  font-size: clamp(24px, 3vw, 35px);
  font-weight: 800;
}
.team-card p {
  font-size: 18px;
}
.team-card:hover img {
  filter: grayscale(0);
  transform: scale(1.2);
}
@-webkit-keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.our-work {
  padding: 100px 0;
  background: #181818;
  border-radius: 24px;
}
.our-work-header {
  color: white;
  margin-bottom: 50px;
}
.our-work-header .row {
  align-items: center;
}
.our-work-header h2 {
  font-size: clamp(30px, 6vw, 80px);
  text-transform: uppercase;
  font-weight: bold;
}
.our-work-items {
  border-top: 1px solid #7d83877d;
}
.col-lg-6.wi-column-border {
  border-left: 1px solid #7d83877d;
}
.our-work-header p {
  font-size: 18px;
  width: 70%;
}
.work-item {
  color: white;
  padding: 25px;
  border-bottom: 1px solid #7d83877d;
}
.our-work-items .work-item:first-child {
  padding-top: 30px;
}
.our-work-items .work-item:last-child {
  border-bottom: none;
}
.work-item-total {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2c2c2c;
  color: white;
  padding: 20px 120px;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
  margin-top: 30px;
}
.wi-top {
  position: relative;
}
ul.wi-category-tabs {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px;
  display: flex;
  gap: 15px;
}
ul.wi-category-tabs li {
  list-style: none;
}
ul.wi-category-tabs li a {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  background: #0000004d;
  border-radius: 50px;
  padding: 7px 12px;
  color: white;
  font-size: 13px;
}
ul.wi-category-tabs li a:hover {
  background: black;
}
.work-item-total h3 {
  color: #ff0000;
  padding: 0 15px;
  font-size: clamp(30px, 4vw, 60px);
  font-weight: 800;
}
.work-item-total h4 {
  padding: 0 15px;
  font-size: clamp(20px, 2vw, 30px);
  width: 80%;
  font-weight: 700;
}
.work-item figure {
  overflow: hidden;
  border-radius: 10px;
}
.work-item figure img {
  width: 100%;
  transition: 1s ease;
}
.wi-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.wi-header-arrow img {
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
}
.wi-header-arrow {
  width: 32px;
  height: 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wi-header-arrow img:last-child {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  transform: translate(-100%, 0);
}
.wi-content-header:hover img:first-child {
  opacity: 0;
  transform: translate(100%, -100%);
  transition: transform 0.3s, opacity 0.3s;
}
.wi-content-header:hover img:last-child {
  opacity: 1;
  transform: translate(0, -90%);
  transition: transform 0.3s ease 0.2s, opacity 0.3s ease 0.2s;
}
.work-item h3 {
  color: white;
  font-size: clamp(24px, 3vw, 48px);
  font-weight: 800;
}
.work-item p {
  color: #7d8387;
  font-size: 18px;
}
.work-item:hover figure img {
  transform: scale(1.2);
}
.testimonials {
  padding: 80px 0;
}

.testimonials-heading h2 {
  text-align: center;
  font-size: clamp(30px, 6vw, 80px);
  text-transform: uppercase;
  margin-bottom: 20px;
}
.th-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
}
.th-item h4 {
  font-size: 18px;
  font-weight: 700;
}
.th-item p {
  font-size: 14px;
}
.testionial-header .row {
  border-top: 1px solid #dfdfdf;
}
.border-th-item {
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.testimonial-carousel {
  background: #f0f0f0;
  padding: 35px;
  border-radius: 15px;
  margin-top: 50px;
}
figure.testimonial-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
figure.testimonial-img {
  height: 300px;
  max-width: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
.review-stars {
  display: flex;
  align-items: center;
  gap: 5px;
}

.testimonial-content {
  display: flex;
}
.testimonial-content .review {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
.testimonial-content .quotes {
  margin-right: 5px;
}
.testimonial-content p {
  font-size: clamp(18px, 2vw, 24px);
}

.testimonial-carousel .swiper-pagination {
  position: unset;
  margin-top: 25px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  z-index: 1;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.2;
  order: 2;
  margin-left: 40px;
}
.testimonial-carousel .swiper-pagination-bullet {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 3rem;
  transition: background-color 0.3s;
  position: relative;
  background: transparent;
  opacity: 1;
  margin: 0 !important;
}
.testimonial-carousel .swiper-pagination-bullet:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: rgba(175, 175, 175, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
}
.testimonial-carousel .swiper-pagination-bullet-active{
  color :#ff0000;
}
.testimonial-carousel .swiper-pagination-bullet-active:after {
  background-color: #ff0000;
}

.tech-tabs {
  padding-bottom: 70px;
}
.tech-heading {
  margin-bottom: 30px;
}
.tech-heading .row {
  align-items: center;
}
.tech-heading h2 {
  font-size: clamp(30px, 6vw, 80px);
  text-transform: uppercase;
}
.tech-tabs .nav-pills {
  gap: 30px;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  position: sticky;
  top: 60px;
}
.tech-tabs .nav-pills .nav-link {
  background: transparent;
  border: none;
  color: #7d8387;
  text-align: left;
  transition: color 0.3s, padding 0.3s, font 0.3s;
  border-radius: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.tech-tabs .nav-pills .nav-link.active {
  border-left: 3px solid #f45d2c;
  padding-left: 10px;
  color: black;
  font-size: 25px;
  font-weight: 700;
}
.tb-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.tb-grid-item {
  display: block;
  padding: 0.5rem 1.5rem 0.375rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  width: calc(33% - 5px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.3s ease;
}
.tb-grid-item:hover {
  border-bottom: 2px solid #f45d2c;
}
.tb-grid-item:hover img {
  transform: scale(1.1);
}
.tb-grid-item p {
  font-family: "IBM Plex Mono", monospace;
  font-size: 13px;
  color: #7d8387;
  font-weight: 600;
  text-align: right;
}
.tech-tabs .tab-content-card h3 {
  font-size: clamp(20px, 3vw, 40px);
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  line-height: 1;
}
.tech-tabs .tab-content-card h3 small {
  font-size: 13px;
  color: #7d8387;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 4px;
}
.tech-tabs.approach-tabs .row {
  border:none;
}

.tech-tabs .tab-content-card {
  margin-bottom: 50px;
}
.tech-tabs .tab-content-card:last-child {
  margin-bottom: 0;
}
.tech-tabs {
  border-top: 1px solid #afafaf7a;
}
.tech-tabs .tab-content {
  padding-top: 3rem;
  padding-bottom: 2rem;
  border-left: 1px solid #afafaf7a;
  padding-left: 50px;
  padding-right: 0px;
}
.our-approach {
  background: #181818;
  padding: 80px 0 50px;
  border-radius: 24px;
}
.approach-header {
  margin-bottom: 50px;
  color: #7d8387;
}
.approach-header .row {
  align-items: center;
}
.approach-header p {
  font-size: 24px;
}
.approach-header h2 {
  font-size: clamp(30px, 6vw, 80px);
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.approach-tabs .nav-pills .nav-link {
  color: #7d8387;
}
.approach-tabs .nav-pills .nav-link.active {
  color: #f45d2c;
}
.approach-tabs .tab-content-card h3 {
  color: white;
  font-size: clamp(25px, 3vw, 50px);
}
.approach-tabs .tab-content-card h3 small {
  color: #f45d2c;
  letter-spacing: normal;
  font-size: 28px;
  margin-right: 20px;
  margin-left: 0;
}
.approach-tabs .tab-content-card {
  color: #7d8387;
}
.approach-tabs .tab-content-card p {
  font-size: 24px;
  margin-bottom: 20px;
}
.approach-tabs .tab-content-card ul li {
  list-style: none;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-bottom: 15px;
}
.approach-tabs .tab-content-card ul li:before {
  content: "";
  background-image: url(../img/check-red.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  list-style: none;
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 15px;
}
.tb-card-row .row {
  align-items: center;
}
figure.approach-img {
  text-align: center;
  margin: 0;
}

.approach-tabs .tab-pane.fade {
  transition: all 0.2s;
  transform: translateY(15rem);
}

.approach-tabs .tab-pane.fade.show {
  transform: translateY(0rem);
}

.scrolled-text {
  padding: 100px;
}
.text-scroll {
  margin: auto;
  max-width: 1000px;
  height: 200px;
  overflow-y: scroll;
}
.text-scroll h3 {
  font-size: clamp(20px,2vw,30px);
  margin-bottom: 20px;
}
.text-scroll p {
  margin-bottom: 15px;
}
.text-scroll::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.text-scroll::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 184, 184);
  border-radius: 10px;
}

.start-growing {
  padding: 80px 0 0;
  background: #181818;
  border-radius: 24px;
  color: white;
  overflow: hidden;
}
.start-growing .row {
  align-items: flex-end;
}
.quote-box {
  display: flex;
  align-items: flex-start;
  width: 80%;
}
.quote-box img {
  margin-right: 15px;
  margin-top: -10px;
}
.sg-left h3 {
  margin-bottom: 60px;
  font-size: clamp(20px, 2vw, 27px);
}
.st-form-wrapper h2 {
  font-size: clamp(30px, 5vw, 80px);
  font-weight: bold;
  letter-spacing: -5.46px;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro-name {
  font-size: 18px;
  font-weight: bold;
}
.intro-position {
  color: #7d8387;
}
.st-form {
  margin-top: 40px;
}
.st-form-wrapper {
  margin-bottom: 100px;
}
.st-form .form-control {
  background: rgb(36, 36, 36);
  border: none;
  border-radius: 50px;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid #7d8387;
  color: white;
}
.st-form input[type=checkbox]{
  accent-color: #f45d2c;
}
.st-form .form-row {
  margin-bottom: 15px;
}
.form-row-button .form-check-label {
  color: #7d8387;
}
.form-row-button .form-check-label a {
  color: #f45d2c;
}
.form-row-button {
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}
.form-check-group {
  width: 60%;
}
/* ------------------------------------------------------------- *
 * Footer
/* ------------------------------------------------------------- */
footer.footer-main {
  position: sticky;
  bottom: 0;
  padding: 100px 0 0;
  z-index: -1;
}
.footer-main a {
  color: black;
}
ul.footer-links {
}
ul.footer-links li {
  list-style: none;
  margin-bottom: 5px;
}
ul.footer-links li a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 18px;
  font-weight: bold;
}
.get-in-touch-link a {
  font-size: clamp(30px, 5vw, 90px);
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  position: relative;
  display: inline-block;
}
.get-in-touch-link a .arrow-btn-wrapper{
  position: absolute;
  right: 10%;
  top: 5%;
  background: #f45d2c;
  width: 70px;
  height: 70px;
}
.footer-arrow-link {
  /* position: absolute;
  top: 20px;
  right: 40px; */
  width: 70px;
  height: 70px;
  background: #f45d2c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translate(350px, -180px);
}
.go-to-top {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.go-to-top .goToTopArrow {
  border: 1px solid #f45d2c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s ease;
}
.go-to-top:hover .goToTopArrow {
  background: #f45d2c;
}
.go-to-top .goToTopArrow img {
  width: 11px;
  transform: rotate(-45deg);
}
.social-links ul {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.social-links li {
  list-style: none;
}
.social-links li a {
  border: 1px solid #f45d2c;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.3s ease;
}
.social-links li a:hover {
  background: #f45d2c;
  color: white;
}
.footer-box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}
.footer-box p {
  margin-top: 20px;
}
.footer-bottom {
  padding: 50px 0;
}
.footer-bottom .privacy-links li {
  list-style: none;
  display: inline-block;
}
ul.privacy-links {
  display: flex;
  gap: 20px;
}
.footer-reel a{
  font-size: 13px;
}
@media (max-width: 1800px) {
  .industries-header .row {
    padding: 0 15px 30px;
  }
  button.close {
    right: 0;
    top: -70px;
}
}
@media (max-width: 1500px) {
  .btn-wrapper.hero-btn a {
    width: 140px;
    height: 140px;
  }
}
@media (max-width: 1200px) {
  .hero h1 {
    letter-spacing: normal;
  }
  .th-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .approach-tabs .tab-content-card h3 small{
    font-size: 18px;
  }
  .approach-tabs .tab-content-card p,.approach-tabs .tab-content-card ul li,.approach-header p {
    font-size: 18px;
}
}
@media (max-width: 992px) {
  .btn-wrapper.hero-btn {
    margin-top: 25px;
  }
  .wcu-left {
    margin-bottom: 20px;
  }
  .clients {
    padding: 30px 0;
  }
  .services {
    padding: 20px 0 70px;
  }
  .hero {
    height: auto;
    padding: 80px 0 50px;
  }
  .service-accordion .card {
    padding-bottom: 10px;
  }
  .industries-header .row {
    gap: 20px;
  }
  .industries {
    background: #181818;
    padding: 50px 0 100px;
    border-radius: 10px;
  }
  .whyChooseUs {
    padding: 60px 0;
  }
  .our-team {
    padding: 50px 0;
  }
  .col-lg-6.wi-column-border {
    border: none;
  }
  .th-item {
    gap: 10px;
    padding: 15px 0;
  }
  .tech-tabs .nav-pills {
    flex-direction: row !important;
  }
  .tech-tabs .nav-pills {
    gap: 15px;
  }
  .tech-tabs .nav-pills .nav-link {
    font-size: 16px;
    padding-left: 0;
    padding-bottom: 10px;
  }
  .tech-tabs .nav-pills .nav-link.active {
    border-left: none;
    border-bottom: 2px solid #ff0000;
    padding-left: 0;
    padding-bottom: 10px;
    font-size: 16px;
  }
  .tech-tabs .tab-content{
    padding-left: 0;
    border: none;
  }
  .tab-content {
    border: none;
  }
  .tab-content {
    padding-left: 0;
    padding-right: 0;
  }
  .scroll-text img {
    width: 150px;
  }
  .get-in-touch-link {
    margin: 30px 0 50px;
  }
  .our-work-header p {
    margin: 15px 0;
    width: 100%;
  }
  .service-accordion .card-header span {
    font-size: 17px;
    margin-right: 15px;
  }
  .service-accordion .card-header .btn-link {
    letter-spacing: normal;
  }
  .industries-header .row .col-lg-2 {
    text-align: left !important;
  }
  .industries-header .row .col-lg-4 {
    padding-left: 15px !important;
  }
  .wi-content-header img {
    width: 20px;
  }
  .get-in-touch-link a .arrow-btn-wrapper {
    width: 50px;
    height: 50px;
}
.get-in-touch-link .btn-with-arrow {
padding: 15px 0;
}
}
@media (max-width: 768px) {
  .industries-carousel,
  .team-carousel {
    padding: 0 15px;
  }
  .industries-header .row {
    padding: 0 0px 30px;
  }
 
  .wcu-picture {
    display: none;
  }
  .work-item {
    padding: 25px 0;
  }
  .work-item-total h4 {
    width: 100%;
  }
  .work-item-total {
    padding: 20px 20px;
    border-radius: 10px;
    margin: 15px 0;
  }
  .th-item {
    border-bottom: 1px solid #dfdfdf;
  }
  .testimonialImgSwiper {
    margin-bottom: 30px;
  }
  .testimonial-carousel {
    padding: 35px 15px;
    border-radius: 10px;
  }
  .testimonial-carousel .swiper-pagination {
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  .testimonial-content .quotes {
    width: 20px;
  }
  .tech-heading h2 {
    margin-bottom: 20px;
  }
  .approach-header p {
    font-size: 18px;
    margin-top: 18px;
  }
  .approach-tabs .tab-content-card p {
    font-size: 18px;
    margin-bottom: 18px;
  }
  .approach-tabs .tab-content-card ul li {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .our-approach {
    border-radius: 15px;
    padding-bottom: 0;
  }
  .tb-grid-item {
    flex-direction: column;
  }
  figure.approach-img {
    margin-bottom: 30px;
  }
  .scrolled-text {
    padding: 100px 0;
  }
  .quote-box {
    width: 100%;
  }
  .sg-left {
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
  }
  .tb-grid-item p{
    text-align: center;
  }
  .start-growing {
    border-radius: 15px;
  }
  .st-form-wrapper h2 {
    letter-spacing: normal;
  }
  .form-check-group {
    width: 100%;
  }
  .form-row-button {
    flex-direction: column;
  }
  .st-form-wrapper {
    margin-bottom: 60px;
  }
  .scroll-text img {
    width: 100px;
  }
  p.ot-left {
    margin-bottom: 8px;
  }
  .go-to-top {
    display: none;
  }
  footer.footer-main {
    position: sticky;
  }
  .footer-box {
    margin-bottom: 30px;
  }
  .footer-reel {
    margin-bottom: 20px;
  }
 
  .footer-bottom {
    padding: 10px 0 30px;
    text-align: center;
  }
  ul.privacy-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
  }
  .footer-reel a {
    justify-content: center;
  }
  .btn-main {
    font-size: 16px;
  }
  .btn-with-arrow .arrow-btn {
    width: 8px;
    height: 8px;
  }
  .arrow-btn-wrapper {
    width: 30px;
    height: 30px;
}
  .our-work {
    padding: 60px 0;
  }
  .tb-grid {
    gap: 8px;
}
.wcu-left h2 {
  letter-spacing: -1px;
}
.service-accordion .card-body {
  padding: 0;
  margin-left: 45px;
}
footer.footer-main {
  position: unset;
  padding: 50px 0 0;
}
}
@media (max-width: 500px) {
}
